<%- include('./includes/header.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
    <% if(prods.length > 0) { %>
        <div class="container-fluid card-holder">
            <% prods.forEach((product)=> { %>
                <div class="card cd" style="width: 18rem;">
                    <img class="card-img-top" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    <div class="card-body">
                      <h5 class="card-title"><%= product.title %></h5>
                      <p class="card-text text"><%= product.description %></p>
                      <h6 class="card-subtitle mb-2 text-muted">$ <%= product.price %></h6>
                      <form class="fm-btn" action="<%if(path === '/admin') { %>/admin/delete/<% } else {%>/add-cart/<% } %><%=product.id%>" method="POST">
                        <button class="card-link btn btn-primary" type="submit"> <%if(path === "/admin") { %> Delete <% }else{ %> Add to Cart <% } %></button> 
                      </form>        
                      <a href="<%if(path === '/admin'){%>/admin/edit-product/<%}else{%>/details/<%}%><%=product.id%><%if(path === '/admin'){%>?admin=true<%}%>"
                         class="card-link btn btn-primary"><%if(path === "/admin") { %> Edit <% }else{ %> Detail <% } %></a>
                    </div>
                </div>
            <% }); %>
        </div>  
    <% } else {%>
        <div class="d-flex justify-content-center top-spc">
            <h1>No Product Found!</h1>
        </div>
    <% } %>    
<%- include('./includes/footer.ejs') %>
