<%- include('../includes/header.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <%if(orders.length > 0) {%>
        <%orders.forEach((order) => { %>
            <div class="list-group container" id = "ct-lt">
                <p class="h3 hd-ord">Order No. <%=order.id%></p>
                <%order.products.forEach((product)=> {%>
                    <div class = "cart-list list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <a href="/details/<%=product.id%>">
                                <h5><%=product.title%></h5>
                            </a>
                            <small>Count: <%=product.orderItem.quantity%></small>
                        </div>
                        <p class="mb-1 text"><%=product.description%></p>
                        <small>Price: $<%=product.price%> per each</small>
                        <form class="fm-btn float-right" action="/return/<%=product.id%>" method="POST">
                            <button class="card-link btn btn-primary" type="submit">Return</button>
                        </form>
                    </div>
                <%});%>
            </div>
        <%})%>
    <%}else{%>
        <div class="d-flex justify-content-center top-spc">
            <h1>No Orders Placed!</h1>
        </div>
    <%}%>
<%- include('../includes/footer.ejs') %>
