<%- include('../includes/header.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <% if(prods.length > 0) { %>
        <div class="container-fluid card-holder">
            <% prods.forEach((product)=> { %>
                <div class="card cd" style="width: 18rem;">
                    <img class="card-img-top" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    <div class="card-body">
                      <h5 class="card-title"><%= product.title %></h5>
                      <p class="card-text"><%= product.description %></p>
                      <h6 class="card-subtitle mb-2 text-muted">$ <%= product.price %></h6>
                      <a href="#" class="card-link">Details</a>
                      <a href="#" class="card-link">Add to Cart</a>
                    </div>
                </div>
            <% }); %>
        </div>  
    <% } else {%>
        <div class="d-flex justify-content-center">
            <h1>No Product Found!</h1>
        </div>
    <% } %>    
<%- include('../includes/footer.ejs') %>
